@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
#imgid{

border-radius: 360px;

}
#imgid:hover{
    transform: scale(1.1); 
}
#g{
    padding-top: 40px;
    padding-bottom: 10px;
    
    
}

#v1{
    margin-top: 50px;
    text-align: center;
}
    
.site-main .site-banner .site-title h1{
    padding-top: 180px;
    font-weight: 500;
}

#imgi{
    margin-top: 5vh;
}


#fixed{
    
    padding-top: 10px;
    
}

#fixeds{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}
#b{
    
   margin-left: 400px;
   height: 10vh;
}
#projects{
    background-image: url(back6.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    
}
#projectss{
    background-image: url(back0.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    
}

#abouts{
    background-image: url(back7.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
}  
#contacts{
    background-image: url(back5.jpg);  
    background-repeat: no-repeat;
    background-size: cover; 
}
#ba{
 margin-left: 7;
}
#back{
 background-image: url(img.png);
}
#pad{
    padding: 20px 20px 20px 20px;
}

#no{
    text-decoration: none;
}
#v{
    display: grid;
    justify-content: center;
}
#m{
    margin-top: 50px;
    margin-bottom: 50px;

}
#background{
    background: linear-gradient(
        45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5,
        #002BFF, #FF00C8, #FF0000);
        background-image: url(blog5.jpg);
         background-repeat: no-repeat;
           background-size: cover; 

}
#wid{
    width: 200px;
}
#Text{
   text-align: center;
   display: grid;
   justify-content: center;
}
#glow:hover{
    transform: scale(1.1);

}
#glow1{
    padding-top: 20px;
}
#glow1:hover{
    transform: scale(1.1);
}

#padding{
    padding-top: 10vh;
    width: 80rem;
    border-radius: 360px;
}   
#pa{
    padding: 20px 10px 35px 10px ;
    column-gap: 10px;
    justify-content: center;
    
}
#back{
    background-image: url(img4.png);
}

#ab{
    position: fixed;
}
#sho_w{
    display: none;
}
#bbb{
    display: none;
}

.immm{
    background-image: url(img4.png);  
}
#cardch{
    display: none;
}
#martop{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
    width: 360px;
}
.martop{
    
    position: relative;
    border-radius: 50%;
    
        background: linear-gradient(
            45deg, #0ba9da,
            #15cbd8, #e5e8eb);
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.martop::before{
    content: "";
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #17ace7, #2c9bc7);
    transition: 0.5s;
    animation: animate 4s linear infinite;

}
.martop:hover::before{
    inset: -20px 0px
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.martop::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: linear-gradient(
        45deg, #0ba9da,
        #15cbd8, #e5e8eb);
    
    border-radius: 50%;
    z-index: 1;
}
.p{
    padding-top: 50px;
    padding-bottom: 50px;
}

  
.content{
    position: absolute;
    inset: 15px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

.martops{
    border-radius: 50%;
    position: relative;
    background: linear-gradient(
        45deg, #0ba9da,
        #15cbd8, #e5e8eb);
    width: 80px;
    height: 80px;
    overflow: hidden;   
}
.martops::before{
    content: "";
    position: absolute;
    inset: -10px 40px;
    background: linear-gradient(315deg, #252717, #221511);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}  
.martops:hover::before{
    inset: -20px 0px
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.martops::after{
    content: "";
    position: absolute;
    inset: 4px;
    background: linear-gradient(
        45deg, #d1e2e7,
        #15cbd8, #fdfdfd);
    border-radius: 50%;
    z-index: 1;
}
.contents{
    position: absolute;
    inset: 8px;
    border: 6px solid #040927;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    
}

.mmmm{
    transition: 0.3s;
    animation: slideLeft 1s ease forwards;
 
}
.contents img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}


.martopss{
   
    position: relative;
    background: rgb(11, 227, 255);
    width: 90px;
    height: 90px;
    overflow: hidden;   
}
.martopss::before{
    content: "";
    position: absolute;
    inset: -10px 40px;
    background: linear-gradient(315deg, #9bac04, #110774);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}  
.martopss:hover::before{
    inset: -20px 0px
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.martopss::after{
    content: "";
    position: absolute;
    inset: 7px;
    background: #0c9cc0;
    z-index: 1;
}
.contentss{
    position: absolute;
    inset: 15px;
    border: 6px solid #040927;
    z-index: 3;
    
    z-index: 1;
}
.contentss{
    position: absolute;
    inset: 15px;
    border: 6px solid #040927;
    z-index: 3;
    
    overflow: hidden;

}
.contentss button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}


.btncolor{
    
    z-index: 0;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    color: aliceblue;
    position: relative;
}
.btncolor::after{
  content:"";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d3233;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btncolor::before{
    content: "";
    background: linear-gradient(
        45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5,
        #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    
}

@keyframes glowing
 {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.btncolor:hover::before{
    opacity: 1;
}
.btncolor:active:after{
    background-color: transparent;
}
.btncolor:active{
    color: #000;
    font-weight: bold;
}

.aboutsBorde::before{
    content: "";
    background: linear-gradient(
        45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5,
        #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 100%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 100s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    
}

@keyframes glowing
 {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}





#cardContainer{
    padding-left: 10px;
    padding-right: 20px;
    width: 360px;

}
.post{
    padding-bottom: 50px;
}

#fff{
   display: none;
   width: 100px;
 }   

divv{
    margin-top: 5vh;
    padding-top: 30px;


}
#delete-task{
    display: none;
}
#wid{
    width: 360px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}
#PO-ST{
    padding-top: 20px;
    padding-bottom: 20px;
}
#bbb{
    text-align: center;
    
    
}
#gold{
 padding-bottom: 30px;
}
#hhh{
    padding-bottom: 50px;
}
#padlite{
    padding-top: 10px;
    margin-top: 15vh;
}
#hide3{
    display: none;
    width: 100px;
}
#hide4{
    display: none;
    width: 100px;
}
#wi{
    width: 360px;
}
#cmm{
    display: none;
    width: 360px;
    
}
#Texts{
    text-align: center;
    padding-top: 40px;
    
    padding-bottom: 20px;
}
#pic{
    width:320px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inheerits: false;
}
.card::after, .card::before{
    
    content:"" ;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( black, black);

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding:3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;

}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from{
        --angle:0deg
    }
    to{
        --angle:360deg;
    }
}

#margin{
    margin-top: 50px;
    margin-bottom: 50px;
}
#pi{
    width: 320px;
    text-align: center;
}
#pe{
    width: 320px;
    text-align: center;
}
#pe{
    display: none;
}
#modifys{
    display: none;
}
.none{
    display: none;
}
#hide{
    display: none;
    
    background-color: antiquewhite;
}
#hide2{
 display:  none;
}

#top-pa{
    padding-top: 20px;
    padding-bottom: 10px;
}
#con{
    background-image: url(bgimg.jpg);
  
    
}
#pdg{
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}
#sho_w{
    width: 300px;
}
#ll{
   background-image: url(blog4.jpg); 
   margin-top:5px;
}
#ff{
    width: 100px;
}
#f{
    padding-top: 20px;
    padding-bottom: 10px;
    row-gap: 6px;

}
#c{
    padding-top: 50px;
    padding-bottom: 5px;
}



.ppd{
    
    padding-top: 100px;
}
.ppdd{
    padding-top: 10px;
}

#ca{
    width: 300px;
    text-align: center;
    height: 9vh;
    
}

#modify{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#modifys{
    display: none;
}

#bb{
    border-style: dotted;
    padding: 10px 10px 10px 10px;
}
#bb:hover{
    transform: scale(1.1);
}
#la{
    width: 360px;


}

#ll{
    padding-top: 100px;
    padding-bottom: 50px;
}

#gap{
    column-gap: 150px;
    row-gap: 50px;
}
#wa{
    padding-top: 10px;
    padding-bottom: 30px;
   
}
#w{
    width: 100px;
    background-color: antiquewhite;
}
#top{
    padding-top: 40px;
}
#al{
    text-align: center;
    padding-top: 10px;
}

form input, form textarea{
    border: 0;
     padding: 10px;
    border-style: none;
    background-color: white;
    font-size: 16px;

}
form button{
    padding: 5px;
    color: white;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 100px;
    
    
    
}
#T{
    border-radius: 50px;
   
    
}
#Textv{
    text-align: center;
    display: grid;
    justify-content: center;  
    padding-top: 40px;
    padding-bottom: 40px;

}

nav li a:hover,
nav li a.nav-link{
    color: rgb(161, 16, 96);
}

nav li a.nav-link:hover{
    color: black;
}

    @keyframes moveText {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }


    .moving-text {
        display: inline-block;
        animation: moveText 5s linear infinite;
        white-space: nowrap; /* Prevents text from wrapping */
        overflow: hidden;
      }
      #v1 {
        overflow: hidden;
      }
      .txtcl{
       color: #070a1c;
      }

      .fade-in {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    .visible {
      opacity: 1;
      transform: translateY(0);
    } 

    .part-1{
        animation: part1 1s ease forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    .part-2{
        animation: part2 1s ease forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    @keyframes part1{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes part2{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .part-3{
        animation: part3 1s ease forwards;
        animation-delay: 2s;
        opacity: 0;
    }
    @keyframes part3{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .part-4{
        animation: part4 1s ease forwards;
        animation-delay: 3s;
        opacity: 0;
    }
    @keyframes part4{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .part-5{
        animation: part5 1s ease forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }
    @keyframes part5{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }

    .part-right{
        animation: right 1s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
    @keyframes right{
        0%{
            transform: translatex(-100px);
            opacity: 0;
        }
        100%{
            transform: translatex(0);
            opacity: 1;
        }
    }
    
    .part-left{
        animation: left 1s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
    @keyframes left{
        0%{
            transform: translatex(100px);
            opacity: 0;
        }
        100%{
            transform: translatex(0);
            opacity: 1;
        }
    }
    .part{
        animation: part 1s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
    @keyframes part{
        0%{
            transform: translatey(100px);
            opacity: 0;
        }
        100%{
            transform: translatey(0);
            opacity: 1;
        }
    }

    .juncol{
        color: #c7320c;
        
}
.txtcl{
    color: white;
}

.textsky{
    color: #36aecc;  
}
.textskys{
    color: #8d0861;
}
.txtsk{
    background-color: #4dc8e7;;
}
.red{
    background-color: red;
}
.redcol{
    color: #2c9bc7;
}
.yel{
   
   background-color: rgb(17, 150, 190);

}
